***Function***

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(5,15,2):
  print(i)

5
7
9
11
13

In [ ]:
 for i in range(5,15,3):
  print(i)

5
8
11
14

In [ ]:
for i in range(4,15,3):
  print(i)

4
7
10
13

In [ ]:
for i in range(5,15,4):
  print(i)

5
9
13

In [ ]:
a = "machine learning"
for i in range(1,11):
  print(a)

machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning
machine learning

In [ ]:
for i in range(1,15):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for i in range(4,11):
  print(i)

4
5
6
7
8
9
10

In [ ]:
for i in range(2,11,4):
  print(i)

2
6
10

In [ ]:
for i in range(3,15,5):
  print(i)

3
8
13

In [ ]:
a = 7
for i in range(1,11):
  print(f'{a} x {i} = {n*i}')

7 x 1 = 8
7 x 2 = 16
7 x 3 = 24
7 x 4 = 32
7 x 5 = 40
7 x 6 = 48
7 x 7 = 56
7 x 8 = 64
7 x 9 = 72
7 x 10 = 80

In [ ]:
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
n = 8
for i in range(1,11):
  print(f'{n} x {i}= {n*i}')

8 x 1= 8
8 x 2= 16
8 x 3= 24
8 x 4= 32
8 x 5= 40
8 x 6= 48
8 x 7= 56
8 x 8= 64
8 x 9= 72
8 x 10= 80

In [ ]:
n =10